#input-box {
    margin-top: 5%;
    margin-left: 5%;
    
}

.container {
    margin-top:5%;
}

#box1 .card-header {
    background-color: lavender;
}

#box3 .card-header {
    background-color: lightgreen;
}

